undefined {
  --box-shadow-0: 0px 1px 2px 0px #1319260d;
  --box-shadow-1: 0px 1px 2px 0px #1319260f, 0px 1px 3px 0px #1319261a;
  --box-shadow-2: 0px 2px 4px -2px #1319260f, 0px 4px 8px -2px #1319261a;
  --box-shadow-3: 0px 8px 8px -4px #13192608, 0px 20px 24px -4px #13192614;
  --box-shadow-4: 0px 4px 6px -2px #13192608, 0px 12px 16px -4px #13192614;
  --box-shadow-5: 0px 24px 48px -12px #1319262e;
  --box-shadow-6: 0px 32px 64px -12px #13192624;
  --box-shadow-none: 0px 0px 0px 0px #00000000;
}