undefined {
  --colors-yellow-50: #fff9e5;
  --colors-yellow-100: #fff6d9;
  --colors-yellow-200: #ffefbf;
  --colors-yellow-300: #ffe9a6;
  --colors-yellow-400: #ffdf80;
  --colors-yellow-500: #ffd24c;
  --colors-yellow-600: #f2b90c;
  --colors-yellow-700: #cc9c0a;
  --colors-yellow-800: #997817;
  --colors-yellow-900: #735a11;
  --colors-orange-50: #fff8f2;
  --colors-orange-100: #fff2e5;
  --colors-orange-200: #ffe5cc;
  --colors-orange-300: #ffd2a6;
  --colors-orange-400: #ffbf80;
  --colors-orange-500: #ffa54c;
  --colors-orange-600: #f27f0c;
  --colors-orange-700: #cc6b0a;
  --colors-orange-800: #995817;
  --colors-orange-900: #734211;
  --colors-red-50: #fff2f3;
  --colors-red-100: #ffe5e8;
  --colors-red-200: #ffcccc;
  --colors-red-300: #ff9999;
  --colors-red-400: #ff7373;
  --colors-red-500: #f24949;
  --colors-red-600: #d90b0b;
  --colors-red-700: #bf0a19;
  --colors-red-800: #8c0e19;
  --colors-red-900: #66050d;
  --colors-purple-50: #f5f2ff;
  --colors-purple-100: #ece5ff;
  --colors-purple-200: #d9ccff;
  --colors-purple-300: #c5b2ff;
  --colors-purple-400: #a98cff;
  --colors-purple-500: #8c66ff;
  --colors-purple-600: #754fe5;
  --colors-purple-700: #5933cc;
  --colors-purple-800: #432699;
  --colors-purple-900: #2a1173;
  --colors-blue-50: #f2f6ff;
  --colors-blue-100: #d9e6ff;
  --colors-blue-200: #b6caf2;
  --colors-blue-300: #91b1f2;
  --colors-blue-400: #6d99f2;
  --colors-blue-500: #457ae5;
  --colors-blue-600: #1451cc;
  --colors-blue-700: #173799;
  --colors-blue-800: #192c66;
  --colors-blue-900: #17244c;
  --colors-green-50: #e5fff7;
  --colors-green-100: #d9fff2;
  --colors-green-200: #ccffee;
  --colors-green-300: #a9f2e0;
  --colors-green-400: #77d9c0;
  --colors-green-500: #0abf92;
  --colors-green-600: #08a67e;
  --colors-green-700: #138064;
  --colors-green-800: #045944;
  --colors-green-900: #034031;
  --colors-gray-50: #f2f4f7;
  --colors-gray-100: #e6eaf2;
  --colors-gray-200: #ced3de;
  --colors-gray-300: #b8becc;
  --colors-gray-400: #98a1b2;
  --colors-gray-500: #7a8499;
  --colors-gray-600: #475266;
  --colors-gray-700: #323b4c;
  --colors-gray-800: #1c2433;
  --colors-gray-900: #131926;
  --colors-primary-50: #f2f6ff;
  --colors-primary-100: #d9e6ff;
  --colors-primary-200: #91b1f2;
  --colors-primary-300: #6d99f2;
  --colors-primary-400: #6d99f2;
  --colors-primary-500: #457ae5;
  --colors-primary-600: #1451cc;
  --colors-primary-700: #173799;
  --colors-primary-800: #192c66;
  --colors-primary-900: #17244c;
  --colors-info-50: #f2f6ff;
  --colors-info-100: #d9e6ff;
  --colors-info-200: #91b1f2;
  --colors-info-300: #6d99f2;
  --colors-info-400: #6d99f2;
  --colors-info-500: #457ae5;
  --colors-info-600: #1451cc;
  --colors-info-700: #173799;
  --colors-info-800: #192c66;
  --colors-info-900: #17244c;
  --colors-success-50: #e5fff7;
  --colors-success-100: #d9fff2;
  --colors-success-200: #a9f2e0;
  --colors-success-300: #77d9c0;
  --colors-success-400: #77d9c0;
  --colors-success-500: #0abf92;
  --colors-success-600: #08a67e;
  --colors-success-700: #138064;
  --colors-success-800: #045944;
  --colors-success-900: #034031;
  --colors-error-50: #fff2f3;
  --colors-error-100: #ffe5e8;
  --colors-error-200: #ff9999;
  --colors-error-300: #ff7373;
  --colors-error-400: #ff7373;
  --colors-error-500: #f24949;
  --colors-error-600: #d90b0b;
  --colors-error-700: #bf0a19;
  --colors-error-800: #8c0e19;
  --colors-error-900: #66050d;
  --colors-warning-50: #fff9e5;
  --colors-warning-100: #fff6d9;
  --colors-warning-200: #ffe9a6;
  --colors-warning-300: #ffdf80;
  --colors-warning-400: #ffdf80;
  --colors-warning-500: #ffd24c;
  --colors-warning-600: #f2b90c;
  --colors-warning-700: #cc9c0a;
  --colors-warning-800: #997817;
  --colors-warning-900: #735a11;
  --colors-single-tone-white: #ffffff;
  --colors-single-tone-black: #000000;
  --colors-muted-50: #f2f4f7;
  --colors-muted-100: #e6eaf2;
  --colors-muted-200: #ced3de;
  --colors-muted-300: #b8becc;
  --colors-muted-400: #98a1b2;
  --colors-muted-500: #7a8499;
  --colors-muted-600: #475266;
  --colors-muted-700: #323b4c;
  --colors-muted-800: #1c2433;
  --colors-muted-900: #131926;
  --colors-textdark-primary: #f2f4f7;
  --colors-textdark-secondary: #e6eaf2;
  --colors-textdark-tertiary: #98a1b2;
  --colors-textdark-disabled: #475266;
  --colors-textdark-accent: #457ae5;
  --colors-textlight-primary: #131926;
  --colors-textlight-secondary: #475266;
  --colors-textlight-tertiary: #98a1b2;
  --colors-textlight-disabled: #b8becc;
  --colors-textlight-accent: #1451cc;
}