undefined {
  --line-heights-2xs: 100%;
  --line-heights-sm: 125%;
  --line-heights-md: 135%;
  --line-heights-lg: 150%;
  --line-heights-xl: 170%;
  --line-heights-2xl: 200%;
  --font-sizes-2xs: 10px;
  --font-sizes-xs: 12px;
  --font-sizes-sm: 14px;
  --font-sizes-md: 16px;
  --font-sizes-lg: 18px;
  --font-sizes-xl: 20px;
  --font-sizes-2xl: 24px;
  --font-sizes-3xl: 30px;
  --font-sizes-4xl: 36px;
  --font-sizes-5xl: 48px;
  --font-sizes-6xl: 60px;
  --font-sizes-7xl: 72px;
  --font-sizes-8xl: 96px;
  --font-sizes-9xl: 128px;
  --letter-spacings-xs: -0.02em;
  --letter-spacings-sm: -0.01em;
  --letter-spacings-md: 0em;
  --letter-spacings-lg: 0.01em;
  --letter-spacings-xl: 0.02em;
  --font-family-heading: Poppins;
  --font-family-body: Poppins;
  --font-family-mono: SF Mono;
  --font-weights-hairline: 100;
  --font-weights-thin: 200;
  --font-weights-light: 300;
  --font-weights-normal: 400;
  --font-weights-medium: 500;
  --font-weights-semibold: 600;
  --font-weights-bold: 700;
  --font-weights-extrabold: 800;
  --font-weights-black: 900;
}