undefined {
  --mobile-heading-bold-xs: 600 14px/125% Poppins;
  --mobile-heading-bold-sm: 600 16px/125% Poppins;
  --mobile-heading-bold-md: 600 20px/125% Poppins;
  --mobile-heading-bold-lg: 600 24px/125% Poppins;
  --mobile-heading-bold-xl: 600 30px/150% Poppins;
  --mobile-heading-bold-2xl: 600 36px/150% Poppins;
  --mobile-heading-bold-3xl: 600 48px/150% Poppins;
  --mobile-heading-bold-4xl: 600 60px/150% Poppins;
  --mobile-heading-bold-5xl: 600 72px/150% Poppins;
  --mobile-heading-bold-6xl: 600 96px/150% Poppins;
  --mobile-heading-bold-7xl: 600 128px/150% Poppins;
  --mobile-heading-extralight-xs: 200 14px/125% Poppins;
  --mobile-heading-extralight-sm: 200 16px/125% Poppins;
  --mobile-heading-extralight-md: 200 20px/125% Poppins;
  --mobile-heading-extralight-lg: 200 24px/125% Poppins;
  --mobile-heading-extralight-xl: 200 30px/150% Poppins;
  --mobile-heading-extralight-2xl: 200 36px/150% Poppins;
  --mobile-heading-extralight-3xl: 200 48px/150% Poppins;
  --mobile-heading-extralight-4xl: 200 60px/150% Poppins;
  --mobile-heading-extralight-5xl: 200 72px/150% Poppins;
  --mobile-heading-extralight-6xl: 200 96px/150% Poppins;
  --mobile-heading-extralight-7xl: 200 128px/150% Poppins;
  --mobile-text-regular-2xs: 400 10px/125% Poppins;
  --mobile-text-regular-xs: 400 12px/125% Poppins;
  --mobile-text-regular-sm: 400 14px/125% Poppins;
  --mobile-text-regular-md: 400 16px/125% Poppins;
  --mobile-text-regular-lg: 400 18px/125% Poppins;
  --mobile-text-regular-xl: 400 20px/125% Poppins;
  --mobile-text-regular-2xl: 400 24px/125% Poppins;
  --mobile-text-bold-2xs: 700 10px/125% Poppins;
  --mobile-text-bold-xs: 700 12px/125% Poppins;
  --mobile-text-bold-sm: 700 14px/125% Poppins;
  --mobile-text-bold-md: 700 16px/125% Poppins;
  --mobile-text-bold-lg: 700 18px/125% Poppins;
  --mobile-text-bold-xl: 700 20px/125% Poppins;
  --mobile-text-bold-2xl: 700 24px/125% Poppins;
}